{% extends "base.html" %}

{% block title %}Admin tasks page{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header">
        <h3><b>Task</b></h3>
    </div>

    {% if session.message|length > 0 %}
    {% if session.message.type == 'error' %}
    <div class="alert alert-danger">{{ session.message.message }}</div>
    {% elseif session.message.type == 'success' %}
    <div class="alert alert-success">{{ session.message.message }}</div>
    {% endif %}
    {% endif %}

    <form action="/tasks/create" method="POST" class="form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="firstname">FirstName:</label>
            <input type="text" name="firstname" id="firstname" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="lastname">LastName:</label>
            <input type="text" name="lastname" id="lastname" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="task">Task:</label>
            <input type="text" name="task" id="task" class="form-control" required/>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>
{% endblock %}