{% extends "base.html" %}

{% block title %}Admin tasks page{% endblock %}

{% block body %}

<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 sidebar-menu">
    {% include "admin_menu.html" %}
    {% block admin_menu %}{% endblock %}
</div>
<div class="col-lg-10 col-md-9 col-sm-9 col-xs-8 sidebar-content">
    <ul class="row breadcrumb text-right">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li class="active"><a href="">Tasks</a></li>
    </ul>

    <div class="page-header">
        <h3><b>Task</b></h3>
    </div>

    <div class="text-right"><a href="/tasks/create" class="btn btn-default">Add new task</a></div>
    <br />

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>E-mail</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Task</th>
            <th>Status</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for task in tasks %}
        <tr>
            <td>{{ task.email }}</td>
            <td>{{ task.firstname }}</td>
            <td>{{ task.lastname }}</td>
            <td>{{ task.task }}</td>
            <td>
                {% if task.status == null %}
                    Not done
                {% elseif task.status == 1 %}
                    Done
                {% endif %}
            </td>
            <td>{{ task.created_at|date('Y-m-d H:i') }}</td>
            <td>
                {% if task.updated_at != null%}
                {{ task.updated_at|date('Y-m-d H:i') }}
                {% endif %}
            </td>
            <td>
                <a href="/tasks/{{ task.id }}/edit"><i class="glyphicon glyphicon-edit"></i></a>
                &nbsp;
                <a href="/tasks/{{ task.id }}/remove"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}