{% extends "base.html" %}

{% block title %}Admin users page{% endblock %}

{% block body %}

<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 sidebar-menu">
    {% include "admin_menu.html" %}
    {% block admin_menu %}{% endblock %}
</div>

<div class="col-lg-10 col-md-9 col-sm-9 col-xs-8 sidebar-content">
    <ul class="row breadcrumb text-right">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/admin">Admin</a></li>
    </ul>

    <div class="page-header">
        <h3><b>Admin</b></h3>
    </div>
</div>
{% endblock %}