{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <h1>Tasks</h1>

    <div class="text-right"><a href="/tasks/create" class="btn btn-default">Add new task</a></div>
    <br/>
    <div class="row">
        <div class="col-sm-2">
            <select id="sort-field" class="form-control">
                <option value="created_at" {% if field == 'created_at' %}selected{% endif %}>Creation date</option>
                <option value="firstname" {% if field == 'firstname' %}selected{% endif %}>First name</option>
                <option value="lastname" {% if field == 'lastname' %}selected{% endif %}>Last name</option>
                <option value="status" {% if field == 'status' %}selected{% endif %}>Status</option>
            </select>
        </div>
        <div id="direction-field" class="col-sm-2">
            <select class="form-control">
                <option value="DESC" {% if direction == 'DESC' %}selected{% endif %}>Desc</option>
                <option value="ASC" {% if direction == 'ASC' %}selected{% endif %}>Asc</option>
            </select>
        </div>
        <div class="col-sm-2">
            <a href="" id="sort-link" class="btn btn-info">SORT</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                </tr>
                </thead>
                <tbody>

                {% for task in tasks %}
                <tr>
                    <td>{{ task.email }}</td>
                    <td>{{ task.firstname }}</td>
                    <td>{{ task.lastname }}</td>
                    <td>{{ task.task }}</td>
                    <td>
                        {% if task.status == null %}
                        Not done
                        {% elseif task.status == 1 %}
                        Done
                        {% endif %}
                    </td>
                    <td>{{ task.created_at|date('Y-m-d H:i') }}</td>
                    <td>
                        {% if task.updated_at != null%}
                        {{ task.updated_at|date('Y-m-d H:i') }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            <div class="text-center">
                <ul class="pagination">
                    <li><a href="/page/1/field/{{ field }}/direction/{{ direction }}">First</a></li>
                    <li class="{% if page <= 1 %} disabled{% endif %}">
                        <a href="{% if page <= 1 %}{% else %}/page/{{ page - 1 }}/field/{{ field }}/direction/{{ direction }}{% endif %}">Prev</a>
                    </li>
                    <li class="{% if page >= total_pages %}disabled{% endif %}">
                        <a href="{% if page >= total_pages %}#{% else %}/page/{{ page + 1 }}/field/{{ field }}/direction/{{ direction }}{% endif %}">Next</a>
                    </li>
                    <li><a href="/page/{{ total_pages }}/field/{{ field }}/direction/{{ direction }}">Last</a></li>
                </ul>
            </div>
            <br/>
        </div>
    </div>
</div>
{% endblock %}
