{% extends "base.html" %}

{% block title %}Admin users page{% endblock %}

{% block body %}

<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 sidebar-menu">
    {% include "admin_menu.html" %}
    {% block admin_menu %}{% endblock %}
</div>
<div class="col-lg-10 col-md-9 col-sm-9 col-xs-8 sidebar-content">
    <ul class="row breadcrumb text-right">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li class="active"><a href="">Edit</a></li>
    </ul>

    <div class="page-header">
        <h3><b>User</b></h3>
    </div>

    {% if session.message|length > 0 %}
    {% if session.message.type == 'error' %}
    <div class="alert alert-danger">{{ session.message.message }}</div>
    {% elseif session.message.type == 'success' %}
    <div class="alert alert-success">{{ session.message.message }}</div>
    {% endif %}
    {% endif %}

    <form action="/users/{{ user.id }}/edit" method="POST" class="form">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ user.name }}" id="name" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" value="{{ user.email }}" id="email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" name="password" value="" id="password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" name="confirm_password" value="" id="confirm_password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="firstname">FirstName:</label>
            <input type="text" name="firstname" value="{{ user.firstname }}" id="firstname" class="form-control" />
        </div>
        <div class="form-group">
            <label for="lastname">LastName:</label>
            <input type="text" name="lastname" value="{{ user.lastname }}" id="lastname" class="form-control" />
        </div>
        <div class="form-group">
            <label for="roles">Roles:</label>
            <select name="roles" id="roles" class="form-control">
                <option {% if user.roles == NULL %}selected{% endif %}>User</option>
                <option value="1" {% if user.roles == 1 %}selected{% endif %}>Admin</option>
            </select>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
</div>
{% endblock %}