{% extends "base.html" %}

{% block title %}Admin users page{% endblock %}

{% block body %}

<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 sidebar-menu">
    {% include "admin_menu.html" %}
    {% block admin_menu %}{% endblock %}
</div>
<div class="col-lg-10 col-md-9 col-sm-9 col-xs-8 sidebar-content">
    <ul class="row breadcrumb text-right">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Admin</a></li>
        <li class="active"><a href="">Users</a></li>
    </ul>

    <div class="page-header">
        <h3><b>User</b></h3>
    </div>

    <div class="text-right"><a href="/users/create" class="btn btn-default">Add new user</a></div>
    <br />

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Role</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>
                {% if user.roles == null %}
                    User
                {% elseif user.roles == 1 %}
                    Admin
                {% endif %}
            </td>
            <td>{{ user.created_at|date('Y-m-d H:i') }}</td>
            <td>
                {% if user.updated_at != null%}
                {{ user.updated_at|date('Y-m-d H:i') }}
                {% endif %}
            </td>
            <td>
                <a href="/users/{{ user.id }}/edit"><i class="glyphicon glyphicon-edit"></i></a>
                &nbsp;
                <a href="/users/{{ user.id }}/remove"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}