{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Sign in</p>
        {% if session.message|length > 0 %}
        {% if session.message.type == 'error' %}
        <div class="alert alert-danger">{{ session.message.message }}</div>
        {% elseif session.message.type == 'success' %}
        <div class="alert alert-success">{{ session.message.message }}</div>
        {% endif %}
        {% endif %}
        <form action="/login" method="post">
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <input type="text" name="email" value="" placeholder="E-mail" class="form-control" id="login"
                       maxlength="80" size="30">
            </div>
            <div class="form-group has-feedback">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <input type="password" name="password" value="" placeholder="Password" class="form-control"
                       id="password" size="30">
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </form>
        <a href="/register" class="text-center">Register</a>
    </div>
</div>

{% endblock %}