{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row">
    <div class="container">
        <h1>Profile</h1>
        <h3><b>Name:</b> {{ user.name }}</h3>
        <h3><b>E-mail:</b> {{ user.email }}</h3>
        <h3><b>FirstName:</b> {{ user.firstname }}</h3>
        <h3><b>LastName:</b> {{ user.lastname }}</h3>
        <h3><b>Role:</b>
            {% if user.roles == NULL %}
                User
            {% elseif user.roles == 1 %}
                Admin
            {% endif %}
        </h3>
    </div>
</div>


{% endblock %}
