{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="login-box">
    <div class="login-box-body">
        <p class="login-box-msg">Register</p>
        {% if session.message|length > 0 %}
            {% if session.message.type == 'error' %}
                <div class="alert alert-danger">{{ session.message.message }}</div>
            {% elseif session.message.type == 'success' %}
                <div class="alert alert-success">{{ session.message.message }}</div>
            {% endif %}
        {% endif %}
        <form action="/register" method="post">
            <div class="form-group has-feedback">
                <input type="text" name="name" value="" placeholder="name" class="form-control" id="name"
                       maxlength="80" size="30" required />
            </div>
            <div class="form-group has-feedback">
                <input type="email" name="email" value="" placeholder="E-mail" class="form-control" id="e-mail"
                       maxlength="80" size="30" required />
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" value="" placeholder="Password" class="form-control"
                       id="password" size="30" required />
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="confirm_password" value="" placeholder="Confirm Password" class="form-control"
                       id="confirm_password" size="30" required />
            </div>
            <div class="form-group has-feedback">
                <input type="text" name="firstname" value="" placeholder="Firstname" class="form-control" id="Firstname"
                       maxlength="80" size="30" />
            </div>
            <div class="form-group has-feedback">
                <input type="text" name="lastname" value="" placeholder="Lastname" class="form-control" id="Lastname"
                       maxlength="80" size="30" />
            </div>
            <div class="row">
                <div class="col-xs-12 text-right">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}